<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.misnz.lyc.dao.TLycInfoMapper">
  <cache eviction="LRU" type="com.misnz.framework.cache.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="com.misnz.lyc.model.TLycInfo">
    <id column="info_id" jdbcType="VARCHAR" property="infoId" />
    <result column="info_type" jdbcType="INTEGER" property="infoType" />
    <result column="info_title_en" jdbcType="VARCHAR" property="infoTitleEn" />
    <result column="info_title_cn" jdbcType="VARCHAR" property="infoTitleCn" />
    <result column="info_res_name" jdbcType="VARCHAR" property="infoResName" />
    <result column="create_date" jdbcType="BIGINT" property="createDate" />
    <result column="opt_date" jdbcType="BIGINT" property="optDate" />
    <result column="sort_filed" jdbcType="INTEGER" property="sortFiled" />
    <result column="info_month" jdbcType="VARCHAR" property="infoMonth" />
    <result column="country_id" jdbcType="VARCHAR" property="countryId" />
    <result column="brands_id" jdbcType="VARCHAR" property="brandsId" />
    <result column="years_code" jdbcType="VARCHAR" property="yearsCode" />
    <result column="trade_id" jdbcType="VARCHAR" property="tradeId" />
    <result column="browser" jdbcType="INTEGER" property="browser" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.misnz.lyc.model.TLycInfo">
    <result column="info_remark_en" jdbcType="LONGVARCHAR" property="infoRemarkEn" />
    <result column="info_remark_cn" jdbcType="LONGVARCHAR" property="infoRemarkCn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    info_id, info_type, info_title_en, info_title_cn, info_res_name, create_date, opt_date, 
    sort_filed, info_month, country_id, brands_id, years_code, trade_id, browser, hits
  </sql>
  <sql id="Blob_Column_List">
    info_remark_en, info_remark_cn
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.misnz.lyc.model.TLycInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_lyc_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.misnz.lyc.model.TLycInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_lyc_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_lyc_info
    where info_id = #{infoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_lyc_info
    where info_id = #{infoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.misnz.lyc.model.TLycInfoExample">
    delete from t_lyc_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.misnz.lyc.model.TLycInfo">
    insert into t_lyc_info (info_id, info_type, info_title_en, 
      info_title_cn, info_res_name, create_date, 
      opt_date, sort_filed, info_month, 
      country_id, brands_id, years_code, 
      trade_id, browser, hits, 
      info_remark_en, info_remark_cn)
    values (#{infoId,jdbcType=VARCHAR}, #{infoType,jdbcType=INTEGER}, #{infoTitleEn,jdbcType=VARCHAR}, 
      #{infoTitleCn,jdbcType=VARCHAR}, #{infoResName,jdbcType=VARCHAR}, #{createDate,jdbcType=BIGINT}, 
      #{optDate,jdbcType=BIGINT}, #{sortFiled,jdbcType=INTEGER}, #{infoMonth,jdbcType=VARCHAR}, 
      #{countryId,jdbcType=VARCHAR}, #{brandsId,jdbcType=VARCHAR}, #{yearsCode,jdbcType=VARCHAR}, 
      #{tradeId,jdbcType=VARCHAR}, #{browser,jdbcType=INTEGER}, #{hits,jdbcType=INTEGER}, 
      #{infoRemarkEn,jdbcType=LONGVARCHAR}, #{infoRemarkCn,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.misnz.lyc.model.TLycInfo">
    insert into t_lyc_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        info_id,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="infoTitleEn != null">
        info_title_en,
      </if>
      <if test="infoTitleCn != null">
        info_title_cn,
      </if>
      <if test="infoResName != null">
        info_res_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="optDate != null">
        opt_date,
      </if>
      <if test="sortFiled != null">
        sort_filed,
      </if>
      <if test="infoMonth != null">
        info_month,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="brandsId != null">
        brands_id,
      </if>
      <if test="yearsCode != null">
        years_code,
      </if>
      <if test="tradeId != null">
        trade_id,
      </if>
      <if test="browser != null">
        browser,
      </if>
      <if test="hits != null">
        hits,
      </if>
      <if test="infoRemarkEn != null">
        info_remark_en,
      </if>
      <if test="infoRemarkCn != null">
        info_remark_cn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=INTEGER},
      </if>
      <if test="infoTitleEn != null">
        #{infoTitleEn,jdbcType=VARCHAR},
      </if>
      <if test="infoTitleCn != null">
        #{infoTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="infoResName != null">
        #{infoResName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="optDate != null">
        #{optDate,jdbcType=BIGINT},
      </if>
      <if test="sortFiled != null">
        #{sortFiled,jdbcType=INTEGER},
      </if>
      <if test="infoMonth != null">
        #{infoMonth,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=VARCHAR},
      </if>
      <if test="brandsId != null">
        #{brandsId,jdbcType=VARCHAR},
      </if>
      <if test="yearsCode != null">
        #{yearsCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null">
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        #{hits,jdbcType=INTEGER},
      </if>
      <if test="infoRemarkEn != null">
        #{infoRemarkEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="infoRemarkCn != null">
        #{infoRemarkCn,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update t_lyc_info
    <set>
      <if test="record.infoId != null">
        info_id = #{record.infoId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoType != null">
        info_type = #{record.infoType,jdbcType=INTEGER},
      </if>
      <if test="record.infoTitleEn != null">
        info_title_en = #{record.infoTitleEn,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTitleCn != null">
        info_title_cn = #{record.infoTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="record.infoResName != null">
        info_res_name = #{record.infoResName,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=BIGINT},
      </if>
      <if test="record.optDate != null">
        opt_date = #{record.optDate,jdbcType=BIGINT},
      </if>
      <if test="record.sortFiled != null">
        sort_filed = #{record.sortFiled,jdbcType=INTEGER},
      </if>
      <if test="record.infoMonth != null">
        info_month = #{record.infoMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.countryId != null">
        country_id = #{record.countryId,jdbcType=VARCHAR},
      </if>
      <if test="record.brandsId != null">
        brands_id = #{record.brandsId,jdbcType=VARCHAR},
      </if>
      <if test="record.yearsCode != null">
        years_code = #{record.yearsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeId != null">
        trade_id = #{record.tradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.browser != null">
        browser = #{record.browser,jdbcType=INTEGER},
      </if>
      <if test="record.hits != null">
        hits = #{record.hits,jdbcType=INTEGER},
      </if>
      <if test="record.infoRemarkEn != null">
        info_remark_en = #{record.infoRemarkEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.infoRemarkCn != null">
        info_remark_cn = #{record.infoRemarkCn,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_lyc_info
    set info_id = #{record.infoId,jdbcType=VARCHAR},
      info_type = #{record.infoType,jdbcType=INTEGER},
      info_title_en = #{record.infoTitleEn,jdbcType=VARCHAR},
      info_title_cn = #{record.infoTitleCn,jdbcType=VARCHAR},
      info_res_name = #{record.infoResName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=BIGINT},
      opt_date = #{record.optDate,jdbcType=BIGINT},
      sort_filed = #{record.sortFiled,jdbcType=INTEGER},
      info_month = #{record.infoMonth,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=VARCHAR},
      brands_id = #{record.brandsId,jdbcType=VARCHAR},
      years_code = #{record.yearsCode,jdbcType=VARCHAR},
      trade_id = #{record.tradeId,jdbcType=VARCHAR},
      browser = #{record.browser,jdbcType=INTEGER},
      hits = #{record.hits,jdbcType=INTEGER},
      info_remark_en = #{record.infoRemarkEn,jdbcType=LONGVARCHAR},
      info_remark_cn = #{record.infoRemarkCn,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_lyc_info
    set info_id = #{record.infoId,jdbcType=VARCHAR},
      info_type = #{record.infoType,jdbcType=INTEGER},
      info_title_en = #{record.infoTitleEn,jdbcType=VARCHAR},
      info_title_cn = #{record.infoTitleCn,jdbcType=VARCHAR},
      info_res_name = #{record.infoResName,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=BIGINT},
      opt_date = #{record.optDate,jdbcType=BIGINT},
      sort_filed = #{record.sortFiled,jdbcType=INTEGER},
      info_month = #{record.infoMonth,jdbcType=VARCHAR},
      country_id = #{record.countryId,jdbcType=VARCHAR},
      brands_id = #{record.brandsId,jdbcType=VARCHAR},
      years_code = #{record.yearsCode,jdbcType=VARCHAR},
      trade_id = #{record.tradeId,jdbcType=VARCHAR},
      browser = #{record.browser,jdbcType=INTEGER},
      hits = #{record.hits,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.misnz.lyc.model.TLycInfo">
    update t_lyc_info
    <set>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=INTEGER},
      </if>
      <if test="infoTitleEn != null">
        info_title_en = #{infoTitleEn,jdbcType=VARCHAR},
      </if>
      <if test="infoTitleCn != null">
        info_title_cn = #{infoTitleCn,jdbcType=VARCHAR},
      </if>
      <if test="infoResName != null">
        info_res_name = #{infoResName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="optDate != null">
        opt_date = #{optDate,jdbcType=BIGINT},
      </if>
      <if test="sortFiled != null">
        sort_filed = #{sortFiled,jdbcType=INTEGER},
      </if>
      <if test="infoMonth != null">
        info_month = #{infoMonth,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=VARCHAR},
      </if>
      <if test="brandsId != null">
        brands_id = #{brandsId,jdbcType=VARCHAR},
      </if>
      <if test="yearsCode != null">
        years_code = #{yearsCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null">
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=INTEGER},
      </if>
      <if test="hits != null">
        hits = #{hits,jdbcType=INTEGER},
      </if>
      <if test="infoRemarkEn != null">
        info_remark_en = #{infoRemarkEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="infoRemarkCn != null">
        info_remark_cn = #{infoRemarkCn,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.misnz.lyc.model.TLycInfo">
    update t_lyc_info
    set info_type = #{infoType,jdbcType=INTEGER},
      info_title_en = #{infoTitleEn,jdbcType=VARCHAR},
      info_title_cn = #{infoTitleCn,jdbcType=VARCHAR},
      info_res_name = #{infoResName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=BIGINT},
      opt_date = #{optDate,jdbcType=BIGINT},
      sort_filed = #{sortFiled,jdbcType=INTEGER},
      info_month = #{infoMonth,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=VARCHAR},
      brands_id = #{brandsId,jdbcType=VARCHAR},
      years_code = #{yearsCode,jdbcType=VARCHAR},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=INTEGER},
      hits = #{hits,jdbcType=INTEGER},
      info_remark_en = #{infoRemarkEn,jdbcType=LONGVARCHAR},
      info_remark_cn = #{infoRemarkCn,jdbcType=LONGVARCHAR}
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.misnz.lyc.model.TLycInfo">
    update t_lyc_info
    set info_type = #{infoType,jdbcType=INTEGER},
      info_title_en = #{infoTitleEn,jdbcType=VARCHAR},
      info_title_cn = #{infoTitleCn,jdbcType=VARCHAR},
      info_res_name = #{infoResName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=BIGINT},
      opt_date = #{optDate,jdbcType=BIGINT},
      sort_filed = #{sortFiled,jdbcType=INTEGER},
      info_month = #{infoMonth,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=VARCHAR},
      brands_id = #{brandsId,jdbcType=VARCHAR},
      years_code = #{yearsCode,jdbcType=VARCHAR},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=INTEGER},
      hits = #{hits,jdbcType=INTEGER}
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>



  <resultMap extends="ResultMapWithBLOBs" id="OutPutInfoVoResultMap" type="com.misnz.lyc.model.OutPutInfoVo">
    <result column="brands_title_en" jdbcType="VARCHAR" property="brandsTitleEn" />
    <result column="brands_title_cn" jdbcType="VARCHAR" property="brandsTitleCn" />

    <result column="country_title_cn" jdbcType="VARCHAR" property="countryTitleCn" />
    <result column="country_title_en" jdbcType="VARCHAR" property="countryTitleEn" />

    <result column="trades_title_cn" jdbcType="VARCHAR" property="tradesTitleCn" />
    <result column="trades_title_en" jdbcType="VARCHAR" property="tradesTitleEn" />

    <result column="classified_title_cn" jdbcType="VARCHAR" property="classifiedTitleCn" />
    <result column="classified_title_en" jdbcType="VARCHAR" property="classifiedTitleEn" />

    <result column="tags_title_cn" jdbcType="VARCHAR" property="tagsTitleCn" />
    <result column="tags_title_en" jdbcType="VARCHAR" property="tagsTitleEn" />
    <result column="classified_id" jdbcType="VARCHAR" property="classifiedId" />
    <result column="tags_id" jdbcType="VARCHAR" property="tagsId" />
  </resultMap>

  <select id="getInfoListByPaginator" resultMap="OutPutInfoVoResultMap" parameterType="map">
    select *
    from v_lyc_info_ext info
    <where>
      <if test='searchType != null and searchType == "brand"'>
        brands_id = #{searchKey,jdbcType=VARCHAR}
      </if>
      <if test='searchType != null and searchType == "tag"'>
        tags_id LIKE concat(concat('%',#{searchKey,jdbcType=VARCHAR}),'%')
      </if>
      <if test='searchType != null and searchType == "classified"'>
        classified_id LIKE concat(concat('%',#{searchKey,jdbcType=VARCHAR}),'%')
      </if>
      <if test='searchType != null and searchType == "trade"'>
        trade_id = #{searchKey,jdbcType=VARCHAR}
      </if>
      <if test='searchType != null and searchType == "year"'>
        info_month LIKE concat(#{searchKey,jdbcType=VARCHAR},'%')
      </if>
      <if test='searchType != null and searchType == "country"'>
        country_id = #{searchKey,jdbcType=VARCHAR}
      </if>
    </where>
    order by info.sort_filed,info.opt_date desc
  </select>



  <select id="getSearchInfoListByPaginator" resultMap="OutPutInfoVoResultMap" parameterType="map">
    select brands_title_en,
    brands_title_cn,
    country_title_cn,
    country_title_en,
    trades_title_cn,
    trades_title_en,
    classified_title_cn,
    classified_title_en,
    classified_id,
    tags_title_cn,
    tags_title_en,
    tags_id,
    info_id,
    info_type,
    info_title_en,
    info_title_cn,
    info_remark_en,
    info_remark_cn,
    info_res_name,
    create_date,
    opt_date,
    sort_filed,
    info_month,
    country_id,
    brands_id,
    years_code,
    trade_id,
    browser,
    hits
    from v_lyc_info_search info
    <where>

      <if test='searchKey != null'>
        (key_all_en LIKE concat(concat('%',#{searchKey,jdbcType=VARCHAR}),'%') or key_all_cn LIKE concat(concat('%',#{searchKey,jdbcType=VARCHAR}),'%'))
      </if>

    </where>
    order by info.sort_filed,info.opt_date desc
  </select>

  <select id="getNewsListByPaginator" resultMap="OutPutInfoVoResultMap" parameterType="map">
    select *
    from t_lyc_info info where info_type=1



    order by info.sort_filed,info.opt_date desc
  </select>

  <resultMap id="YearsResultMap" type="com.misnz.lyc.model.TLycYears" >
    <id column="years_code" property="yearsCode" jdbcType="VARCHAR" />
    <result column="case_count" property="caseCount" jdbcType="INTEGER" />
  </resultMap>

  <select id="getYearsForAll" resultMap="YearsResultMap">
    SELECT
	DATE_FORMAT(info_month, '%Y') as years_code,
	count(*) as case_count
FROM
	t_lyc_info
WHERE
	info_month != ''
GROUP BY
	DATE_FORMAT(info_month, '%Y')
ORDER BY
	DATE_FORMAT(info_month, '%Y')
  </select>



  <resultMap extends="OutPutInfoVoResultMap" id="OutPutInfoFileResultMap" type="com.misnz.lyc.model.OutPutInfoFileVo">
    <collection javaType="com.misnz.lyc.model.TLycInfoFile" property="infoFileList">
      <id column="info_file_id" jdbcType="VARCHAR" property="infoFileId" />
      <result column="file_name" jdbcType="VARCHAR" property="fileName" />
      <result column="is_video" jdbcType="INTEGER" property="isVideo" />
    </collection>
  </resultMap>

  <select id="getInfoDetailByInfoId" parameterType="java.lang.String" resultMap="OutPutInfoFileResultMap">
    select
    info_file.info_file_id,info_file.file_name,info_file.is_video,info.*
    from v_lyc_info_ext info,t_lyc_info_file info_file
    where info.info_id = info_file.info_id
    <if test="infoId != null">
      and info_file.info_id = #{infoId,jdbcType=VARCHAR}
    </if>
    order by info_file.sort_filed,info_file.opt_date desc
  </select>
  <select id="getNewsDetailList" parameterType="java.lang.String" resultMap="OutPutInfoFileResultMap">
    select
    info_file.info_file_id,info_file.file_name,info_file.is_video,info.*
    from t_lyc_info info,t_lyc_info_file info_file
    where info.info_id = info_file.info_id
    <if test="infoId != null">
      and info_file.info_id = #{infoId,jdbcType=VARCHAR}
    </if>
    order by info_file.sort_filed,info_file.opt_date desc
  </select>
</mapper>